
{% load static %}
{% load humanize %}

{% block title %}
    장바구니
{% endblock %}

{% block content %}
{% if not cart %}
    <div class="exclam"><img src="{% static 'images/exclamation.PNG' %}"></div>
    <div id="contents">
        <strong>장바구니에 담긴 상품이 없습니다.</strong>
    </div>
{% else %}
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">이미지</th>
            <th scope="col">메뉴</th>
            <th scope="col">수량</th>
            <th scope="col">삭제</th>
            <th scope="col">가격</th>
            <th scope="col">상태</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
        {% with product=item.product %}
        <tr>
            <th scope="row">
                <a href="{{product.get_absolute_url}}">
                    <img src="{{product.image.url}}" class="img-thumbnail" height="100px" width="100px">
                </a>
            </th>
            <td>{{product.btitle}}</td>
            <td>
                <form action="{% url 'cart:product_add' product.id %}" method="post">
                    {{item.quantity_form.quantity}}
                    {{item.quantity_form.is_update}}
                    <input type="submit" class="btn btn-dark" value="변경">
                    {% csrf_token %}
                </form>
            </td>

            <td>
                <a href="{% url 'cart:product_remove' product.id %}">삭제</a>
            </td>
            <td class="num">&#8361;{{item.price|floatformat:'0' | intcomma}}</td>
            <td class="num">{{product.condition}}</td>

        </tr>
        {% endwith %}
        {% endfor %}

        <tr>
            <td>상품가격</td>
            <td colspan="4"></td>
            <td>&#8361;{{cart.get_product_total|floatformat:'0' | intcomma}}</td>
            <td></td>
        </tr>

        <tr class="total">
            <td>총액</td>
            <td colspan="4"></td>
            <td class="num">&#8361;{{cart.get_total_price|floatformat:'0' | intcomma}}</td>
            <td></td>
        </tr>
        </tbody>
    </table>


    <p class="text-right">
        <a href="{% url 'list:menu_all' %}" class="btn btn-outline-success">쇼핑 계속하기</a> <!--url 메인페이지로 다시 걸기-->
    </p>
    {% endif %}
</div>
{% endblock %}