
{% block title %}Product Detail{% endblock %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-4">
            <img src="{{product.image.url}}" width="100%">
        </div>
        <div class="col">
            <h2 class="display-6">{{product.name}}</h2>
            <p style="color: darkblue">
            {% load humanize %}
                &#8361;{{product.price | floatformat:'0' | intcomma}}</p>
            <form action="{% url 'cart:product_add' product.id %}" method="post">
                {{add_to_cart}}
                {% csrf_token %}
            <input type="submit" class="btn btn-outline-danger btn-sm" value="장바구니">
            </form><br>
            <div class="content" style="width:600px; margin-left:0px;">
                <span class="badge badge-info">메뉴설명</span><p></p>
                <h6 style="line-height: 1.5;">{{product.content|linebreaks}}</h6>
            </div>
        </div>
    </div>
</div>

{% endblock %}