<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>
<body>
<div class="wrap">
    <div class="login">
        <div class="position">
            <a href="{% url 'home:home' %}"><h2>잇고</h2></a>
    <form method="post" class="post-form" action="{% url 'login' %}">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="login_id">
            <label for="username"><h4>아이디</h4></label>
            <input type="text" class="form-control" name="username" id="username"
                   value="{{ form.username.value|default_if_none:'' }}" placeholder= "아이디">
        </div>
        <div class="login_pw">
            <label for="password"><h4>비밀번호</h4></label>
            <input type="password" class="form-control" name="password" id="password"
                   value="{{ form.password.value|default_if_none:'' }}" placeholder= "비밀번호">
        </div>
                <div class="login_etc">
                    <div class="checkbox">
                    <input type="checkbox" name="" id=""> 아이디 저장
                    </div>
                    <div class="new">
                    <span><a href="{% url 'signup' %}">회원가입</a></span>
                    </div>
                </div>
        <div class="submit">
        <button type="submit" class="btn btn-primary">로그인</button>
        </div>
    <div class="row">

    </div>
    </form>
            </div>
    </div>
</div>
</body>