
{% block content %}
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
function findAddr(){
	new daum.Postcode({
        oncomplete: function(data) {

        	console.log(data);

            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
            // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
            var addr=''
            // 우편번호와 주소 정보를 해당 필드에 넣는다.
            document.getElementById('member_post').value = data.zonecode;

            if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }
             document.getElementById("member_addr").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("detailadd").focus();
        }
    }).open();
}
</script>
<script>
    $(function() {
            // 아이디 //
            $('#username').blur(function(event) {

                $('#username').change(function () {
                    $('#id_check_alert').html('');
                    $('#username').attr("check_result", "fail");
                });

                if ($('#username').val() == ''){
                    $('#id_check_alert').html('아이디를 입력해주세요.');
                    return;
                }

                id_overlap_input = document.querySelector('input[name="username"]');

                $.ajax({
                    url: "{% url 'id_overlap_check' %}",
                    data: {
                        'username':id_overlap_input.value
                    },
                    dataType: 'json',
                    success: function(data){
                        console.log(data['overlap']);

                        if (data['overlap'] == "fail") {
                            if ($('#username').val().length >= 4 && $('#username').val().length <= 20){
                                $('#id_check_alert').html('이미 존재하는 아이디 입니다.');
                                return;
                            } else {
                                $('#id_check_alert').html('4~20자의 영문, 숫자만 사용가능합니다.');
                                return;
                            }
                        } else {
                            if ($('#username').val().length >= 4 && $('#username').val().length <= 20){
                                $('#username').attr("check_result", "success");
                                $('#id_check_alert').html('사용가능한 아이디 입니다.');
                                return;
                            } else {
                                $('#id_check_alert').html('4~20자의 영문, 숫자만 사용가능합니다.');
                                return;
                            }
                        }
                    }
                });
            });

            // 비밀번호
            $('#password').blur(function(event) {
                if ($('#password').val() == ''){
                    $('#pwd_check_alert').html('비밀번호를 입력해주세요.');
                    return;
                }
                if ($('#password').val().length < 8){
                    $('#pwd_check_alert').html('비밀번호는 8자 이상으로 입력해주세요.');
                    return;
                } else {
                    $('#pwd_check_alert').html('사용가능한 비밀번호입니다.');
                    return;
                }
            });

            // 비밀번호 확인
            $('#password2').blur(function(event){
                if ($('#password2').val() == ''){
                    $('#pwd2_check_alert').html('비밀번호를 입력해주세요.');
                    return;
                }
                if ($('#password2').val() == $('#password').val()) {
                    $('#pwd2_check_alert').html('비밀번호가 일치합니다.');
                    return;
                } else {
                    $('#pwd2_check_alert').html('비밀번호가 일치하지 않습니다.');
                    return;
                }
            });
            //이메일 형식
            $('#email').blur(function(event){
                var emailVal = $("#email").val();
                var regExp = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
                // 검증에 사용할 정규식 변수 regExp에 저장
                if (emailVal.match(regExp) == null) {
                    $('#email_check_alert').html('올바른 이메일 형식으로 입력해주세요.');
                    return;
                } else {
                    $('#email_check_alert').html('');
                    return;
                }
            });
        });

</script>

<div class="container my-3">
    <div class="row my-3">
        <div class="col-4">
            <h4>회원가입</h4>
        </div>
    </div>
    <form method="post" class="post-form" action="{% url 'signup' %}">
        {% csrf_token %}
        <div class="form-group">
            <label name="username" for="username">아이디</label>
            <input type="text" class="form-control" name="username" id="username"
                value="{{ form.username.value|default_if_none:'' }}" check_result="fail">
            <article id="id_check_alert"></article>
            {% if form.errors %}
            {{ form.username.errors}}
            {% endif %}
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control" name="password" id="password"
                value="{{ form.password.value|default_if_none:'' }}">
            <article id="pwd_check_alert"></article>
            {% if form.errors %}
            {{ form.password.errors}}
            {% endif %}
        </div>
        <div class="form-group">
            <label for="password2">비밀번호 확인</label>
            <input type="password" class="form-control" name="password2" id="password2"
                value="{{ form.password2.value|default_if_none:'' }}">
            <article id="pwd2_check_alert"></article>
            {% if form.errors %}
            {{ form.password2.errors}}
            {% endif %}
        </div>
        <div class="form-group">
            <label for="nickname">이름</label>
            <input type="text" class="form-control" name="nickname" id="nickname" value="{{ form.nickname.value|default_if_none:'' }}">
            {% if form.errors %}
            {{ form.nickname.errors}}
            {% endif %}
        </div>
        <div class="form-group">
            <label for="phone">전화번호</label>
            <input type="text" class="form-control" name="phone" id="phone" value="{{ form.phone.value|default_if_none:'' }}">
            {% if form.errors %}
            {{ form.phone.errors}}
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">가입하기</button>
    </form>
</div>
{% endblock %}