
            #header {
                background-color: orange;
                color: white;
                text-align: center;
                padding: 13px 0px 15px 0px; /* 위 아래 여백 설정*/
                /* 13px 0px 15px 10px */
                font-size: 1.5rem;
                position: fixed;
                top: 0; /* 화면 상단에 고정 */
                width: 100%; /* 화면 너비만큼 헤더 확장*/
                margin: 0;
                list-style: none;
                left: 0;
            }
            

            #header a {
                text-decoration: none;
                columns: inherit;
                color: white;
                text-align: center;
                display: block;
                margin: 0 auto;
            }


            #footer{
                text-align: center;
            }

            #contents{
                text-align: center;
                margin-top: 150px;
                width: 100%;
                color: white;
            }


            .dropdown_image {
                width: 100%;
                height: auto;
                max-width: 20px;
                display: block;
                margin: 0 auto;
                float: left;
                overflow: hidden;
            }
            
            .dropdown-button {
                background: orange;
                padding: 10px;
                font-size: 15px; 
                border: none;
            }

            .dropdown {
                position: relative;
                display: block;
                float: left;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: orange;
                color: black;
                width: 300px;
                height: auto;
                padding: 0px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            }

            .dropdwon-content a {
                color: black;
                padding: 100%;
                margin: 0;
                text-decoration: none;
                display: block;
                border-bottom: 1px solid #ddd
            }

            .dropdown-content a:hover {
                background-color: #fccc8d;
                width: 100%;
            }

            .dropdown:hover .dropdown-content {
                display: block;
            }


            .dropdwon:hover .dropdown-button {
                background-color: orange;
            }

            .dropdown-content img {
                width: 30%;
                height: auto;
            }

            .container_for_header {
                width: 100%;
                height: inherit;
                margin: 0 auto;
                background: rgba(0,0,0,0);
            }

            /*메인 화면 컨테이너 크기*/
            .container {
                width: fit-content; 
                height: auto; 
                margin: 0 auto; 
                text-align: center;
                background: rgba(0,0,0,0);
            }

            /*메인 화면 이미지 크기*/
            .container img {
                width: 400px;
                height: auto;
                /*max-width: 450px;*/
                display: block;
                margin: 0 auto;
            }


            .main_menu{
                margin-top: 30px;
            }

            .main_matching{
                margin-top: 30px;
            }

            .banner{
                margin-top: 40px;
            }

            .main_ticket{
                margin-top: 40px;
            }